
<p
*ngIf="secretActive"
[ngStyle]="{color: 'red', border: 'solid 1px green'}"
[ngClass]="{active: secretActive}"
>
Secret password = tuna
</p>
  <ul>
    <li
    *ngFor="let event of events; let i = index"
    [ngStyle]="{backgroundColor: events.length > 6 ? 'blue' : 'transparent', color: events.length > 6 ? 'white' : 'black'}"
    [ngClass]="{'active-secret': events.length > 6}"
    >
      Event number: {{i}} ,{{event}}
    </li>
  </ul>


<button (click)="onToggleSecret()">Display secret password</button>
